# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# lwang ignore
.idea/
rasp_detection/3rdpart/
rasp_detection/darknet_modify/*.weights
cmake-build-debug/
CMakeLists.txt
rasp_detection/darknet_modify/*.jpg
